<nav id="sidebar-menu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${name eq 'patient-accept'} ? 'active'" href="/patient/accept">
                    접수처
                </a>
                <a class="nav-link" th:classappend="${name.startsWith('clinic')} ? 'active'" href="#">
                    진료일지 목록
                </a>
                <ul class="nav flex-column ps-3">
                    <li class="nav-item">
                        <a class="nav-link" th:each="department, i : ${clinicDepartments}"
                           th:href="|/clinic/${department.path}|"
                           th:classappend="${name.endsWith(department.path)} ? 'active'"
                        >[[${department.name}]]</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <div class="input-group mt-3 mb-3">
                    <input type="text" id="all-patient-search-input" name="q" class="form-control"
                           placeholder="전체 환자번호 검색" th:value="${q}">
                    <button class="btn btn-outline-secondary" type="submit">검색</button>
                </div>
            </li>
        </ul>
    </div>
</nav>