<nav id="sidebar-menu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" th:classappend="${name eq 'reception'} ? 'active'" href="/reception">
          접수처
        </a>
        <a class="nav-link" th:classappend="${name eq 'home'} ? 'active'" href="/clinic">
          진료일지 목록
        </a>
        <ul class="nav flex-column ps-3">
          <li class="nav-item">
            <a class="nav-link" href="/clinic/1">내과</a>
            <a class="nav-link" href="/clinic/1">정형외과</a>
            <a class="nav-link" href="/clinic/1">치과</a>
            <a class="nav-link" href="/clinic/1">산부인과</a>
          </li>
        </ul>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" th:classappend="${name eq 'add' || name eq 'edit'} ? 'active'" href="/clinic/add">-->
<!--          진료일지 작성-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </div>
</nav>