<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <script type="text/javascript" src="/libs/axios.min.js"></script>
</head>
<main class="col-md-10 ms-sm-auto col-lg-10 px-md-4" layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">접수하기</h2>
    </div>
    <div>
        <form method="post" action="/clinic/accept" onsubmit="return doAccept()">
            <div class="d-flex justify-content-end mb-3">
                <button type="submit" class="btn btn-primary">작성</button>
            </div>
            <div th:if="${result eq 'success'}" class="alert alert-success" role="alert">
                님의 접수를 완료
            </div>
            <div class="input-group align-items-center mb-3">
                <label class="input-group-text">과 선택</label>
                <div class="btn-group align-middle ms-3">
                    <div class="form-check form-check-inline" th:each="department, i : ${clinicDepartments}">
                        <input type="checkbox" class="form-check-input" th:id="${'department'+i.index}"
                               name="department" autocomplete="off" th:value="${department.no}">
                        <label class="form-check-label" th:for="${'department'+i.index}">[[${department.name}]]</label>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <label for="patientNumber" class="input-group-text">환자번호</label>
                <input type="text" class="form-control" id="patientNumber" name="patientNumber" value="" required="required">
                <button class="btn btn-outline-secondary" id="searchPatientBtn" type="button" onclick="checkPatient()">환자 찾기</button>
                <button class="btn btn-outline-secondary" id="retryPatientBtn" type="button" onclick="retryPatient()" style="display: none">환자 다시 찾기</button>
            </div>
            <div id="patientNameGroup" class="input-group mb-3">
                <label for="patientName" class="input-group-text">환자명</label>
                <input type="text" class="form-control" id="patientName" name="patientName" value="" disabled="disabled">
            </div>
        </form>

    </div>
    <!-- '최근 접수사항을 실시간으로 띄워주고 싶다'는 니즈, 실시간 통신에 대해서 알아보고 노트를 남겨서 구현까지 해보자.
        기획1. 최근 접수사항을 실시간으로 띄워주고 싶다.
        기획2. 접수사항이 변경되어도 변경된 상태 그대로 보여줘야 한다.
        기획3. 2번과 비슷하게 접수사항이 삭제 되어도 자연스럽게 최근 접수사항이 리스팅 되어야 한다.
        기획4. 최근 접수사항이 추가되면 자연스럽게 최근 접수사항이 리스팅 되어야 한다.
    -->
    <!--  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">-->
    <!--      <h2 class="h2">최근 접수사항</h2>-->
    <!--  </div>-->
</main>
<script type="text/javascript" layout:fragment="page-script">
    const doAccept = () => {
        const chkDepartments = [];
        document.getElementsByName("department").forEach((department) => {
            if (department.checked) {
                chkDepartments.push(department.value);
            }
        });
        if (chkDepartments.length === 0) {
            alert("과를 선택해주세요.");
            return false;
        }
        let number = document.getElementById("patientNumber").value.trim();
        let name = document.getElementById("patientName").value.trim();
        if (number === "") {
            alert("환자번호를 입력해주세요.");
            return false;
        }
        if (!isFinite(number)) {
            alert("환자번호는 숫자만 입력해주세요.");
            return false;
        }
        if (name === "") {
            alert("환자명을 입력해주세요.");
            return false;
        }

        return true;
    }

    const checkPatient = () => {
        let number = document.getElementById("patientNumber").value.trim();
        if (number === "") {
            alert("환자번호를 입력해주세요.");
            return false;
        }
        if (!isFinite(number)) {
            alert("환자번호는 숫자만 입력해주세요.");
            return false;
        }
        axios.post("/api/v1/patient/check", { patientNumber: Number(number) })
            .then((resp) => {
                alert("기존 환자를 출력합니다.");
                const result = resp.data.data;
                document.getElementById("patientName").value = result.name;
                document.getElementById("patientName").disabled = false;
                document.getElementById("patientName").readOnly = true;
                document.getElementById("patientNumber").readOnly = true;
                document.getElementById("searchPatientBtn").style.display = "none";
                document.getElementById("retryPatientBtn").style.display = "block";
            })
            .catch((err) => {
                if (err.response.data.code === "PAT001") {
                    alert("기존 환자가 없습니다. 환자명을 입력해주세요.");
                    document.getElementById("patientNumber").readOnly = true;
                    document.getElementById("patientName").disabled = false;
                    document.getElementById("searchPatientBtn").style.display = "none";
                    document.getElementById("retryPatientBtn").style.display = "block";
                }

            });
        return true;
    }

    const retryPatient = () => {
        document.getElementById("patientNumber").readOnly = false;
        document.getElementById("patientName").disabled = true;
        document.getElementById("patientNumber").value = "";
        document.getElementById("patientName").value = "";

        document.getElementById("searchPatientBtn").style.display = "block";
        document.getElementById("retryPatientBtn").style.display = "none";
    }
</script>
</html>