<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head></head>
<main class="col-md-10 ms-sm-auto col-lg-10 px-md-4" layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">진료일지 [[${no eq null ? '작성' : '수정'}]]</h2>
    </div>
    <div>
        <form method="POST" th:action="|/clinic/${clinic.no}/edit|" onsubmit="return modifyContent()">
            <div class="d-flex justify-content-end mb-3">
                <th:block th:if="${no eq null}">
                    <button type="submit" class="btn btn-primary">작성</button>
                </th:block>
                <th:block th:unless="${no eq null}">
                    <button type="submit" class="btn btn-primary">수정</button>
                    <button type="button" class="btn btn-danger ms-1" th:onclick="|deleteClinic(${no})|">삭제</button>
                </th:block>
            </div>
            <input type="hidden" name="clinicNo" th:value="${no}">
            <div class="input-group mb-3">
                <div class="form-check form-check-inline" th:each="dept, i : ${clinicDepartments}">
                    <input class="form-check-input" type="radio" name="departmentNo" th:id="${'dept-'+dept.path}"
                           th:value="${dept.no}" th:checked="${clinic?.department.path eq dept.path}">
                    <label class="form-check-label" th:for="${'dept-'+dept.path}" th:text="${dept.name}"></label>
                </div>
            </div>
            <div class="input-group mb-3">
                <label for="patient-number" class="input-group-text">환자번호</label>
                <input type="text" class="form-control" id="patient-number" name="patientNumber" th:value="${clinic?.patient.number}">
            </div>
            <div class="input-group mb-3">
                <label for="patient-name" class="input-group-text">환자명</label>
                <input type="text" class="form-control" id="patient-name" name="patientName" th:value="${clinic?.patient.name}">
            </div>
            <div class="input-group mb-3">
                <label for="doctor-name" class="input-group-text">담당의</label>
                <input type="text" class="form-control" id="doctor-name" name="doctorName" th:value="${clinic?.doctorName}">
            </div>
            <div class="input-group mb-3">
                <label for="clinic-date" class="input-group-text">진료일</label>
                <input type="date" class="form-control" id="clinic-date" name="clinicDate" th:value="${clinic?.clinicDate}">
            </div>
            <div class="input-group mb-3">
                <label for="clinic-content" class="input-group-text">진료 내용</label>
                <textarea class="form-control" id="clinic-content" rows="20" name="content">[[${clinic?.content}]]</textarea>
            </div>

        </form>
    </div>
</main>
<script type="text/javascript" layout:fragment="page-script">
    const modifyContent = () => {
        const chkDepartments = [];
        document.getElementsByName("departmentNo").forEach((department) => {
            if (department.checked) {
                chkDepartments.push(department.value);
            }
        });
        console.log(chkDepartments);
        if (chkDepartments.length === 0) {
            alert("과를 선택해주세요.");
            return false;
        }
        let number = document.getElementById("patient-number").value.trim();
        let patientName = document.getElementById("patient-name").value.trim();
        let doctorName = document.getElementById("doctor-name").value.trim();
        let clinicContent = document.getElementById("clinic-content").value.trim();

        if (number === "") {
            alert("환자번호를 입력해주세요.");
            return false;
        }
        if (!isFinite(number)) {
            alert("환자번호는 숫자만 입력해주세요.");
            return false;
        }
        if (patientName === "") {
            alert("환자명을 입력해주세요.");
            return false;
        }
        if (doctorName === "") {
            alert("담당의를 입력해주세요.");
            return false;
        }
        if (clinicContent === "") {
            alert("진료내용을 입력해주세요.");
            return false;
        }

        return true;
    }
    const deleteClinic = (clinicNo) => {
        if (confirm("진료일지를 삭제하시겠습니까? **삭제시, 복구가 불가능 합니다**")) {
            const form = document.createElement("form");
            const hiddenField = document.createElement("input");
            form.setAttribute("charset", "UTF-8");
            form.setAttribute("method", "POST");
            form.setAttribute("action", `/clinic/${clinicNo}/delete`);
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "_method");
            hiddenField.setAttribute("value", "DELETE");
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
</html>