<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head></head>
<main class="col-md-10 ms-sm-auto col-lg-10 px-md-4" layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">진료일지 열람</h2>
    </div>
    <div>
        <form>
            <div class="d-flex justify-content-end mb-3">
                <a href="/clinic/1/edit" class="btn btn-primary">수정</a>
            </div>
            <div class="input-group mb-3">
                <label for="patient-name" class="input-group-text">환자번호</label>
                <input type="text" class="form-control" id="patient-number" value="19999" readonly>
            </div>
            <div class="input-group mb-3">
                <label for="patient-name" class="input-group-text">환자명</label>
                <input type="text" class="form-control" id="patient-name" value="이동철" readonly>
            </div>
            <div class="input-group mb-3">
                <label for="doctor-name" class="input-group-text">담당의</label>
                <input type="text" class="form-control" id="doctor-name" value="최정효" readonly>
            </div>
            <div class="input-group mb-3">
                <label for="clinic-date" class="input-group-text">진료일</label>
                <input type="date" class="form-control" id="clinic-date" value="2023-09-26" readonly>
            </div>
            <div class="input-group mb-3">
                <label for="clinic-content" class="input-group-text">진료 내용</label>
                <textarea class="form-control" id="clinic-content" rows="20" readonly>
          진료일지 열람에서의 내용입니다.
        </textarea>
            </div>

        </form>
    </div>
</main>
</body>
</html>