<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head></head>
<main class="col-md-10 ms-sm-auto col-lg-10 px-md-4" layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2"><u>[[${dept?.name}]]</u> 진료일지</h2>
    </div>
    <div class="input-group mb-3">
        <a th:href="|/clinic/${dept?.path}|" class="btn btn-outline-secondary" type="submit" th:if="${col ne '' || q ne ''}">검색 초기화</a>
    </div>
    <form method="get" th:action="|/clinic/${dept?.path}|" onsubmit="return doSearch()">
    <div class="input-group mb-3">
        <select id="search-column" name="col" class="form-select" style="flex: 0 1 200px;">
            <option value="" th:selected="${col eq ''}">검색할 열을 선택</option>
            <option value="patientNumber" th:selected="${col eq 'patientNumber'}">환자번호</option>
            <option value="patientName" th:selected="${col eq 'patientName'}">환자명</option>
            <option value="doctorName" th:selected="${col eq 'doctorName'}">담당의</option>
            <option value="clinicDate" th:selected="${col eq 'clinicDate'}">진료일자</option>
            <option value="content" th:selected="${col eq 'content'}">진료내용</option>
            <option value="otherContent" th:selected="${col eq 'otherContent'}">기타</option>
        </select>
        <input type="text" id="search-input" name="q" class="form-control" th:value="${q}" aria-label="Example text with button addon"
               aria-describedby="button-addon1">
        <button class="btn btn-outline-secondary" type="submit">검색</button>
        <script type="text/javascript">
            const doSearch = () => {
                const column = document.getElementById("search-column").value;
                const q = document.getElementById("search-input").value;
                const cResult = column.trim().length !== 0;
                const qResult = q.trim().length !== 0;
                if (!cResult) {
                    alert("검색할 열을 선택해주세요.");
                    return false;
                }
                if (!qResult) {
                    alert("검색 내용을 입력해주세요.");
                    return false;
                }

                return true;
            }

        </script>
    </div>
    </form>
    <div class="table-responsive">
        <table class="table table-hover table-sm clinic-board">
            <colgroup>
                <col width="80px"/>
                <col width="100px"/>
                <col width="100px"/>
                <col width="100px"/>
                <col width="*"/>
                <col width="200px"/>
                <col width="80px"/>
            </colgroup>
            <thead>
            <tr>
                <th scope="col">환자번호</th>
                <th scope="col">환자명</th>
                <th scope="col">담당의</th>
                <th scope="col">진료일자</th>
                <th scope="col">진료내용</th>
                <th scope="col">기타</th>
                <th scope="col">내용 수정</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data, iter : ${datas.datas}">
                <td><a th:href="|/clinic/${data.no}|">[[${data.patient.number}]]</a></td>
                <td>[[${data.patient.name}]]</td>
                <td>[[${data.doctorName}]]</td>
                <td>[[${data.clinicDate}]]</td>
                <td>[[${data.content}]]</td>
                <td>[[${data.otherContent}]]</td>
                <td>
                    <a th:href="|/clinic/${data.no}/edit|">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item" th:if="${datas.totalPage > 0}" th:each="page : ${#numbers.sequence(1, datas.totalPage)}">
                    <a class="page-link" th:href="|/clinic/${dept?.path}?page=${page}&col=${col}&q=${q}|" th:classappend="${page eq datas.currentPage} ? 'active'">[[${page}]]</a>
                </li>
            </ul>
        </nav>
    </div>
</main>
</html>